$background: hsl(0, 0%, 15%);

$interactive-background: hsl(0, 0%, 23%);
$interactive-selected-background: hsl(0, 0%, 19%);
$interactive-selected-background-2: hsl(0, 60%, 40%);

$menu-background: hsl(0, 0%, 25%);
$menu-border: $background;
$menu-font: hsl(0, 0%, 75%);
