mixin skeleton
    doctype html
    html(lang="de")
        head
            meta(charset="UTF-8")
            meta(name="viewport" content="width=device-width, initial-scale=1")
            meta(name="description" content="Die Party-Festival-Truppe")

            title Mutzreich
            link(href="./main.scss" rel="stylesheet")
        body#app
            if block
                block
