@use "style/colors";
@use "style/dimensions";
@use "style/reset";

body, html {
  background-color: colors.$background;
  height: 100vh;
  overflow: hidden;
  width: 100vw;
}

#app {
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  height: 100%;
  width: 100%;
}

#bg {
  background-image: url(/assets/munki-smol.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 100%;
  left: 50%;
  max-height: 80%;
  max-width: 50%;
  position: fixed;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 100%;
}

.coming {
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  color: white;
}
